extends layout

block content
    h1 Vladjimir made a Node webiste!

    ul.list-group
        each article, i in articles
            li.list-group-item
                a(href='/articles/'+article._id)= article.title
