extends ../layout

block content
    h1 Add article!
    form(method='post', action='/articles/create')
        .form-group
            label Title:
            input.form-control(name='title', type='text')
        .form-group
            label Content:
            textarea.form-control(name='body')
        .form-group
            input.btn.btn-primary(type='submit', value='Submit')